**/.*.swp
.stack-work
stack.yaml.lock
**/*.o
**/*.hi
app/Main
*.bin
*.aux
*.fdb_latexmk
*.fls
*.log
*.blg
*.bbl
*.ll
compiladores.cabal
compilerpcf.cabal
compiler.cabal

programs/debug.pcf
hie.yaml

*.byte

bvm
prog
