# x = 5
let x : Nat = 5

# y = 7
let y : Nat = ifz (5 - 10) 
              then ifz ifz 0 
                       then 5 
                       else 0
                   then 3 
                   else 7
               else 13

# ans = 15
let ans : Nat = 1 + 5 - 20 + 3 + (x+0) + y